@model IEnumerable<WebApplication1.Models.Customer>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*@Model.Count()*@
@*<a href="~/Customers/Create">New Customer</a>*@
@Html.ActionLink("新增使用者", "Create")
<table border="1">
    <tr>
        <th>編號</th>
        <th>名稱</th>
        <th>生日</th>
        <th></th>
    </tr>
    @foreach (var obj in Model)
    {
        <tr>
            <td>@obj.CustomerID</td>
            <td>@obj.Name</td>
            @*<td>@obj.Birthday</td>*@
            <td>@obj.Birthday.Value.ToShortDateString()</td>
            <td>
                @*<a href="~/Customers/Delete?id=@obj.CustomerID onclick="return confirm('Are you sure?');">Delete</a>*@
                @Html.ActionLink("刪除", "Delete", new {id=obj.CustomerID}, new { onclick="return confirm('Are you sure?');" })
                @Html.ActionLink("編輯", "Edit", new { id = obj.CustomerID })
            </td>
        </tr>
    }

</table>