@model IEnumerable<WebApplication1.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("新增客戶", "Create")

<table border="1">
    <tr>
        <th>編號</th>
        <th>姓名</th>
        <th>生日</th>
        <th>照片</th>
        <th></th>
    </tr>
    @foreach(var c in Model)
    {
        <tr>
            <td>@c.CustomerID</td>
            <td>@c.Name</td>
            <td>@c.Birthday.Value.ToShortDateString()</td>
            <td></td>
            <td>
                @Html.ActionLink("編輯", "Edit", new { id = c.CustomerID })
                @Html.ActionLink("刪除", "Delete", new { id = c.CustomerID }, new { onclick = "return confirm('確定要刪除嗎?');" })
            </td>
        </tr>
    }


</table>

