@model WebApplication1.Models.OrderViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    <span>訂單日期:</span> @Html.TextBoxFor(m => m.Order.OrderDate) @Html.ValidationMessageFor(m => m.Order.OrderDate) <br />
    <span>客戶:</span> @Html.DropDownList("Order.CustomerID", Model.Customers) @Html.ValidationMessageFor(m => m.Order.CustomerID)<br />
    <span>產品:</span> @Html.DropDownList("Order.ProductID", Model.Products) @Html.ValidationMessageFor(m => m.Order.ProductID)<br />
    <span>單價:</span> @Html.TextBoxFor(m => m.Order.Price) @Html.ValidationMessageFor(m => m.Order.Price)<br />
    <span>數量:</span> @Html.TextBoxFor(m => m.Order.Quantity) @Html.ValidationMessageFor(m => m.Order.Quantity)<br />
    <input type="submit" value="修改訂單" name="btnUpdate" />
}


@section scripts {
    <script>
        $("#Order_Price").val(@Model.Price);
        $("#Order_ProductID").change(function () {
            this.form.submit();
        });
    </script>
}
