@model IEnumerable<WebApplication1.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("新增客戶", "Create")

<table border="1">
    <tr>
        <th>編號</th>
        <th>姓名</th>
        <th>生日</th>
        <th>照片</th>
        <th></th>
    </tr>
    @foreach(var c in Model)
    {
        <tr style="@(c.CustomerID == ViewBag.CustomerID ? "background-color:lightblue" : "")">
            <td>@c.CustomerID</td>
            <td>@Html.ActionLink(c.Name, "Index", new { id = c.CustomerID })</td>
            <td>@c.Birthday.Value.ToShortDateString()</td>
            <td></td>
            <td>
                @Html.ActionLink("編輯", "Edit", new { id = c.CustomerID })
                @Html.ActionLink("刪除", "Delete", new { id = c.CustomerID }, new { onclick = "return confirm('確定要刪除嗎?');" })
            </td>
        </tr>
    }
</table>

訂單：
<hr />

@if (ViewBag.CustomerID != null && Model.SingleOrDefault(c => c.CustomerID == ViewBag.CustomerID) != null)
{
    <table border="1">
        <tr>
            <th>編號</th>
            <th>日期</th>
            <th>客戶</th>
            <th>產品</th>
            <th>價格</th>
            <th>數量</th>
            <th>小計</th>
            <th></th>
        </tr>
        @foreach (var o in Model.Single(c => c.CustomerID == ViewBag.CustomerID).Orders)
        {
            <tr>
                <td>@o.OrderID</td>
                <td>@o.OrderDate</td>
                <td>@o.Customer.Name</td>
                <td>@o.Product.Name</td>
                <td>@o.Price</td>
                <td>@o.Quantity</td>
                <td>@(o.Price * o.Quantity)</td>
                <td>
                    @Html.ActionLink("編輯", "Edit", new { id = o.OrderID })
                    @Html.ActionLink("刪除", "Delete", new { id = o.OrderID }, new { onclick = "return confirm('確定要刪除嗎?');" })
                </td>
            </tr>
        }

    </table>
}

